.footer-container {
  margin: 5em 0em;
  /* background-color: black; */
}



.terms-privacy-term {
  padding-right: 1em;
  border-right: 3.5px solid #903AFF;

}

.footer-container h4 {
  color: #903AFF;
  margin-bottom: .8.5em;
}

.footer-text-wrapper {
  width: 50%
}

.footer-container ul li {
  margin-bottom: .5em;
}

.scroll-wrapper {
  background: rgb(255, 38, 185);
  background: linear-gradient(70deg, rgba(255, 38, 185, 1) 0%, rgba(212, 52, 254, 1) 50%, rgba(144, 58, 255, 1) 100%);
  color: #fff;
  border: none;
  padding: .8em 1em;
  border-radius: 5px;
  margin-bottom: 2em;
  cursor: pointer;
}

@media(max-width:991px) {
  .footer-text-wrapper {
    width: 100%;
  }
}