.vertical-line {

  width: 5px;
  min-height: 100px;
  background: rgba(144, 58, 255, 1);
  margin-bottom: 1em;
  text-align: center;

}

.timeline-number {
  background: rgb(255, 38, 185);
  background: linear-gradient(70deg, rgba(255, 38, 185, 1) 0%, rgba(212, 52, 254, 1) 50%, rgba(144, 58, 255, 1) 100%);
  color: #fff;
  border: none;
  padding: .8em 1em;
  border-radius: 50px;
  padding: .8em;
  margin-bottom: 2em;

}

.timeline-heading-text,
.timeline-date-text {
  color: #d434fe;
  font-size: 1.2rem;
}