/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(144, 58, 255);
  background: linear-gradient(90deg, rgba(144, 58, 255, 1) 0%, rgba(36, 19, 66, 1) 0%, rgba(44, 22, 81, 1) 11%, rgba(64, 29, 116, 1) 37%, rgba(42, 21, 77, 1) 83%, rgba(42, 21, 77, 1) 83%, rgba(31, 17, 57, 1) 92%, rgba(28, 16, 53, 1) 94%, rgba(27, 16, 51, 1) 97%, rgba(21, 14, 40, 1) 100%);
  color: #fff !important;
}



/* App.css */
.fade-enter {
  opacity: 0;
  transform: translateY(10px);
  /* Example: Slide in from below */
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  /* Example: Slide to original position */
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
  /* Example: Slide to original position */
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
  /* Example: Slide out to below */
  transition: opacity 300ms, transform 300ms;
}